@media (min-width: 768px) {
	body {
			background: url('../img/party.png') no-repeat center center fixed;
			background-position: center bottom;
			background-size: cover;
	}
	.html-mobile-background {
			display: none;
	}

  .join-input, .search-input, .btn {
		width: 60%;
	}


	.btn {
		margin: 15px 0;
	}

	.search-input {
		width: 100%;
	}

	.brand {
		font-size: 5rem;
		padding: 1% 0 1% 0;
	}

	#search-btn {
		width: 100%;
		margin: 10px auto;
		padding: 7px 10px;
	}

	#playlist {
	  margin-bottom: 10%;
	}

	#join-btn, #host-btn, .join-input {
		margin: 15px 0;
	}


	#now-playing {
		padding: 2%;
	}

	.np-img {
		margin: 2% 0;
	}

}

@media (min-width: 990px) {
	#search-btn {
		width: 100%;
		margin: 0 auto;
		padding: 7px 10px;
	}
}
