@media (min-width: 768px) {
	body {
			background: url('../img/party.png') no-repeat center center fixed;
			background-position: center bottom;
			background-size: cover;
	}
	.html-mobile-background {
			display: none;
	}

	.join-input, .add-input, .btn {
		width: 60%;
	}


	.btn {
		margin: 15px 0;
	}

	.add-input {
		width: 100%;
	}

	.brand {
		font-size: 6rem;
	}

	#add-btn {
		width: 100%;
		margin: 0 auto;
		padding: 7px 10px;
	}

	#playlist {
	  margin-bottom: 10%;
	}

	#join-btn {
		margin: 15px 0;
	}

	.join-party {
		width: 60%;
	}

}
